<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=Concord;server=DESKTOP-QP0UNMA\SQLEXPRESS" name="CONN_STRING"/>
  </connectionStrings>
  <appSettings>
    <add key="LYRICS_FOLDER" value="C:\temp\lyrics\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>