<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=Concord;server=TAL-PC" name="CONN_STRING"/>-->
    <add connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=Concord;server=DESKTOP-QP0UNMA\SQLEXPRESS" name="CONN_STRING"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="LYRICS_FOLDER" value="C:\temp\lyrics\"/>
    <add key="EXPORT_FOLDER" value="C:\temp\export\"/>
    <add key="ZIP_FOLDER" value="C:\temp\"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SongService.Lyrics">
        <endpoint address="" behaviorConfiguration="RESTEndpointBehavior" kind="webHttpEndpoint" contract="SongService.ILyrics" binding="webHttpBinding" bindingConfiguration="basicHttp"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTEndpointBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <bindings>
      <webHttpBinding>
        <binding name="basicHttp" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>